.spo-total-loading {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    .ant-spin-container {
        height: 100%;
    }
}
.spo-content {
    background-color: #474747;
}

.spo-3d-main-cube-label {
    opacity: 0.6;
    height: 22px;
    line-height: 20px;
    font-size: 12px;
    border-radius: 2px;
    padding: 0 6px;
    border-width: 1px;
    border-style: solid;
    color: #fff;
    user-select: none;
    margin-top: -1em;
}

.spo-3d-main-circle-label {
    opacity: 0.8;
    height: 22px;
    line-height: 20px;
    font-size: 12px;
    border-radius: 3px;
    padding: 0 6px;
    border-width: 1px;
    border-style: solid;
    // color: #fff;
    user-select: none;
    margin-top: -1em;
    background: yellow;
}
