.spo-3d-main-tools {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 80px;
    right: 80px;
    height: 30px;
    z-index: 1;
    color: #ccc;
    font-size: 20px;
    .spo-3d-main-tools-item {
        width: 35px;
        height: 35px;
        padding: 2px 2px;
        text-align: center;
        background-color: #222;
        cursor: pointer;
    }
    .current {
        box-shadow: inset 0 0 0 1px #ccc;
    }
}
.spo-3d-main-tools-right {
    position: absolute;
    right: 15px;
    z-index: 1;
    color: #ccc;
    width: 70px;
    height: 30px;
    padding: 0 5px;
    line-height: 30px;
    text-align: center;
    user-select: none;
    background-color: #222;
    cursor: pointer;
}
